@import "tailwindcss";
/* @import "tailwindcss/preflight"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities{
  .grid-cols-fluid {
    grid-template-columns: repeat(auto-fit, minmax(8rem, 20fr));
  }

  .bg-gradient-radial {
    background-image: radial-gradient(var(--tw-gradient-stops));
  }

  .bg-gradient-conic {
    background-image: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
  }

  .bg-mycolor {
    background-color: #123456;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
